/* Set the size and font of the tab widget */

.button {
	display: inline-block;
	background: url(btn.bg.png) repeat-x 0px 0px;
	padding: 5px 6px 6px 6px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.4);
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	margin-left: 70%;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 1)),
		to(rgba(185, 185, 185, 1)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1),
		rgba(185, 185, 185, 1));
}

.button1 {
	display: inline-block;
	background: url(btn.bg.png) repeat-x 0px 0px;
	padding: 5px 6px 6px 6px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.4);
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 1)),
		to(rgba(185, 185, 185, 1)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1),
		rgba(185, 185, 185, 1));
}

.tabGroup {
	font-family: 'Times New Roman';
	margin: 0 auto;
	background: none repeat  0 0 #F3F1EB;
	border: 1px solid #DEDBD1;
	padding: 10px;
	/*width: 310px; 
    height: 300px;*/
}

.tabGroup>h1 {
	margin: 0 auto;
	background: none repeat  0 0 #F3F1EB;
	/*width: 310px; 
    height: 300px;*/
	color: #99CC33;
}

/* This matchs tabs displaying to thier associated radio inputs */
#rad1:checked ~ .tab1,#rad2:checked ~ .tab2,#rad3:checked ~ .tab3,#rad4:checked 
	~ .tab4,#rad5:checked ~ .tab5,#rad6:checked ~ .tab6,#rad7:checked ~
	.tab7,#rad8:checked ~ .tab8 {
	display: block;
}

.tabGroup1 {
	font-family: 'Times New Roman';
	margin: 0 auto;
	background: none repeat  0 0 #F3F1EB;
	border: 1px solid #DEDBD1;
	padding: 10px;
	color: blue;
}

/* Configure the radio buttons to hide off screen */
.tabGroup1>input[type="radio"] {
	position: absolute;
	left: -100px;
	top: -100px;
}

/* Configure labels to look like tabs */
.tabGroup1>input[type="radio"]+label {
	/* inline-block such that the label can be given dimensions */
	display: inline-block;
	/* A nice curved border around the tab */
	border: 1px solid #DEDBD1;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	/* the bottom border is handled by the tab content div */
	border-bottom: 0;
	/* Padding around tab text */
	padding: 5px 10px;
	/* Set the background color to default gray (non-selected tab) */
	background-color: #ddd;
}

/* Focused tabs need to be highlighted as such */
.tabGroup1>input[type="radio"]:focus+label {
	border: 1px dashed #DEDBD1;
}

/* Checked tabs must be white with the bottom border removed */
.tabGroup1>input[type="radio"]:checked+label {
	background-color: white;
	font-weight: bold;
	border-bottom: 1px solid white;
	margin-bottom: -1px;
}

/* The tab content must fill the widgets size and have a nice border */
.tabGroup1>div {
	display: none;
	border: 1px solid #DEDBD1;
	background-color: white;
	padding: 10px 10px;
	height: 81%;
	overflow: auto;
	margin-top: -1px;
	border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius: 0 5px 5px 5px;
}

/* This matchs tabs displaying to thier associated radio inputs */
#rad1:checked ~ .tab1,#rad2:checked ~ .tab2,#rad3:checked ~ .tab3 {
	display: block;
}